<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${artist+' - '+album}"/>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js'></script>
	<script src='../../js/utils.js'></script>
	<script src="../../js/sortable.min.js"></script>
	<link rel="stylesheet" href="../../css/sortable-theme-finder.css"/>
	<script type="text/javascript">
		var labelsArray=[];
        var percentagesPlays=[]; 
        var percentagesPlaytime=[];
        var plays=[];
        var playtime=[];  
		window.onload = function(){
			Sortable.init();
		}
	</script>
</head>
<body>

Number Of Songs: <span th:text="${albumInfo.numberOfSongs}"/> <br/>
Album length: <span th:text="${albumInfo.albumLength}"/> <br/>
Total Plays: <span th:text="${albumInfo.totalPlays}"/><br/>
Total Playtime: <span th:text="${albumInfo.totalPlaytime}"/><br/>
First Song Played: <span th:text="${albumInfo.firstSongPlayed}"/><br/>
Last Song Played: <span th:text="${albumInfo.lastSongPlayed}"/><br/>
Average Song Length: <span th:text="${albumInfo.averageSongLength}"/><br/>
Average Plays Per Song: <span th:text="${#numbers.formatDecimal(albumInfo.averagePlaysPerSong, 1, 'DEFAULT', 2, 'DEFAULT')}"/><br/>
Days album was played: <span th:text="${albumInfo.daysAlbumWasPlayed}"/><br/>
Weeks album was played: <span th:text="${albumInfo.weeksAlbumWasPlayed}"/><br/>
Months album was played: <span th:text="${albumInfo.monthsAlbumWasPlayed}"/><br/>


<br/>
<br/>
<table id="albumSongsTable" class="sortable-theme-finder" data-sortable>
	<thead>
		<tr>
			<th>Position</th>
			<th>Song</th>
			<th>Album</th>
			<th>Release Year</th>
			<th>Total Plays</th>
			<th>Track Length</th>
			<th>Total Playtime</th>
			<th>First Play</th>
			<th>Last Play</th>
			<th>Days song was played</th>
			<th>Weeks song was played</th>
			<th>Months song was played</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="song, stat : ${albumInfo.songs}">
			<td th:text="${stat.index+1}"/>
			<td><a th:href="@{/song?artist={artist}&album={album}&song={song}(artist=${song.artist},album=${song.album},song=${song.song})}" th:text="${song.song}"></td>
			<td th:text="${song.album}"/>
			<td><a th:href="@{/category?category={category}&value={value}(value=${song.releaseYear},category=${'year'})}" th:text="${song.releaseYear}"/></td>
			<td th:text="${song.totalPlays}"/>
			<td th:text="${song.trackLengthString}" th:data-value="${song.trackLength}"/>
			<td th:text="${song.totalPlaytimeString}" th:data-value="${song.totalPlaytime}"/>
			<td th:text="${song.firstPlay}"/>
			<td th:text="${song.lastPlay}"/>
			<td th:text="${song.daysSongWasPlayed}"/>
			<td th:text="${song.weeksSongWasPlayed}"/>
			<td th:text="${song.monthsSongWasPlayed}"/>
		</tr>
	</tbody>
</table>

<div style="height:400px;" th:each="albumGroup, count : ${albumGroupList}" th:if="${album != '(single)'}">
<script th:inline="javascript" th:each="listCount : ${albumGroup.listCounts}">

	labelsArray.push(/*[[${listCount.element}]]*/'');
	plays.push(/*[[${listCount.plays}]]*/'');
	percentagesPlays.push(/*[[${listCount.percentagePlays}]]*/'');
	playtime.push(/*[[${listCount.playtimeString}]]*/'');
	percentagesPlaytime.push(/*[[${listCount.percentagePlaytime}]]*/'');

</script>

	<canvas th:id="${'plays'}"></canvas>
		<script th:inline="javascript">
                //Play Year
				/*<![CDATA[*/
                var ctx = document.getElementById('plays').getContext('2d');
                
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
					  labels: labelsArray,
					  datasets: [
					    {
					      label: 'Percentage of plays',
					      backgroundColor: 'rgba(255, 99, 132, 0.8)',
					      data: percentagesPlays
					    },
					    {
					      label: 'Percentage of playtime',
					      backgroundColor: 'rgba(152, 255, 152, 0.8)',
					      data: percentagesPlaytime
					    }
					  ]
					},
                    options:{
						responsive:true,
						maintainAspectRatio: false,
						plugins: {
					      tooltip: {
					        callbacks: {
					          label: function(context) {
					            var category = /*[[${album}]]*/''; 
								var totalPlays = /*[[${albumInfo.totalPlays}]]*/'';
								var totalPlaytime = /*[[${albumInfo.totalPlaytime}]]*/'';
								
								var thisPlays = plays[context.dataIndex];
								var thisPlaytime = playtime[context.dataIndex];
								
								var first = context.datasetIndex === 0? context.formattedValue+"% of all "+category+" plays happened in "+context.label:
											context.formattedValue+"% of all "+category+" playtime happened in "+context.label;
								var second = context.datasetIndex === 0? "which is "+thisPlays+" plays out of "+totalPlays:
											"which is "+thisPlaytime+" out of "+totalPlaytime;
					            return [first,second];
					            return ['',''];
					          }
					        }
					      }
					    }
					}
					
                });

				myChart.update(); 
                /*]]>*/
                </script>
	</div>

</body>

</html>