<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${artist+' - '+album}" />
	<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js'></script>
	<script src='../../js/utils.js'></script>
	<script src="../../js/sortable.min.js"></script>
	<link rel="stylesheet" href="../../css/sortable-theme-finder.css" />
	<script type="text/javascript">
		window.onload = function () {
			Sortable.init();
		}
	</script>
</head>

<body>

	Number Of Songs: <span th:text="${albumInfo.numberOfSongs}" /> <br />
	Album length: <span th:text="${albumInfo.albumLength}" /> <br />
	Total Plays: <span th:text="${albumInfo.totalPlays}" /><br />
	Total Playtime: <span th:text="${albumInfo.totalPlaytime}" /><br />
	First Song Played: <span th:text="${albumInfo.firstSongPlayed}" /><br />
	Last Song Played: <span th:text="${albumInfo.lastSongPlayed}" /><br />
	Average Song Length: <span th:text="${albumInfo.averageSongLength}" /><br />
	Average Plays Per Song: <span
		th:text="${#numbers.formatDecimal(albumInfo.averagePlaysPerSong, 1, 'DEFAULT', 2, 'DEFAULT')}" /><br />
	Days album was played: <span th:text="${albumInfo.daysAlbumWasPlayed}" /><br />
	Weeks album was played: <span th:text="${albumInfo.weeksAlbumWasPlayed}" /><br />
	Months album was played: <span th:text="${albumInfo.monthsAlbumWasPlayed}" /><br />


	<br />
	<br />
		<table id="milestonesTable" class="sortable-theme-finder" data-sortable>
			<thead>
				<tr>
					<th>Milestone</th>
					<th>Date</th>
					<th>Days it took to achieve it</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="milestone : ${albumInfo.milestones}">
					<td th:text="${milestone.plays}"/>
					<td th:text="${milestone.date}"/>
					<td th:text="${milestone.days}"/>
				</tr>
			</tbody>
		</table>
	<br />
	<br />
	<table id="albumSongsTable" class="sortable-theme-finder" data-sortable>
		<thead>
			<tr>
				<th>Position</th>
				<th>Song</th>
				<th>Album</th>
				<th>Release Year</th>
				<th>Total Plays</th>
				<th>Track Length</th>
				<th>Total Playtime</th>
				<th>First Play</th>
				<th>Last Play</th>
				<th>Days song was played</th>
				<th>Weeks song was played</th>
				<th>Months song was played</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="song, stat : ${albumInfo.songs}">
				<td th:text="${stat.index+1}" />
				<td><a th:href="@{/song?artist={artist}&album={album}&song={song}(artist=${song.artist},album=${song.album},song=${song.song})}"
						th:text="${song.song}"></td>
				<td th:text="${song.album}" />
				<td><a th:href="@{/category/100/{category}/{value}(value=${song.releaseYear},category=${'Year'})}"
						th:text="${song.releaseYear}" /></td>
				<td th:text="${song.totalPlays}" />
				<td th:text="${song.trackLengthString}" th:data-value="${song.trackLength}" />
				<td th:text="${song.totalPlaytimeString}" th:data-value="${song.totalPlaytime}" />
				<td th:text="${song.firstPlay}" />
				<td th:text="${song.lastPlay}" />
				<td th:text="${song.daysSongWasPlayed}" />
				<td th:text="${song.weeksSongWasPlayed}" />
				<td th:text="${song.monthsSongWasPlayed}" />
			</tr>
		</tbody>
	</table>

	<div style="width: 50%;">
			<canvas th:id="${'plays'}" ></canvas>

			<script th:inline="javascript">
				/*<![CDATA[*/
				var ctx = document.getElementById(/*[[${'plays'}]]*/'').getContext('2d');
				var myChart = new Chart(ctx, {
					type: 'line',
					data: {
						labels: [ /*[(${chartLabels})]*/ ],
						datasets: [
							{
								label: 'Plays',
								data: [ /*[(${chartData})]*/ ],
								fill: false,
								borderColor: 'rgba(51, 86, 170, 0.9)',
    							tension: 0.1
							}
						]
					},
					options: {
						responsive: true
					}

				});

				myChart.update();
                /*]]>*/
			</script>
		</div>


</body>

</html>