<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${artist}"/>
	<script src='../js/utils.js'></script>
	<script src="../js/sortable.min.js"></script>
	<link rel="stylesheet" href="../css/sortable-theme-finder.css"/>
	<script type="text/javascript">
		window.onload = function(){
			Sortable.init();
		}
	</script>
</head>
<body>

Number Of Songs: <span th:text="${artistInfo.numberOfSongs}"/> <br/>
Total Plays: <span th:text="${artistInfo.totalPlays}"/><br/>
Total Playtime: <span th:text="${artistInfo.totalPlaytime}"/><br/>
First Song Played: <span th:text="${artistInfo.firstSongPlayed}"/><br/>
Last Song Played: <span th:text="${artistInfo.lastSongPlayed}"/><br/>
Average Song Length: <span th:text="${artistInfo.averageSongLength}"/><br/>
Average Plays Per Song: <span th:text="${artistInfo.averagePlaysPerSong}"/><br/>
Days artist was played: <span th:text="${artistInfo.daysArtistWasPlayed}"/><br/>
Weeks artist was played: <span th:text="${artistInfo.weeksArtistWasPlayed}"/><br/>
Months artist was played: <span th:text="${artistInfo.monthsArtistWasPlayed}"/><br/>

<table id="artistTable" class="sortable-theme-finder" data-sortable>
	<thead>
		<tr>
			<th>Position</th>
			<th>Album</th>
			<th>Number of Tracks in Library</th>
			<th>Total Plays</th>
			<th>Album Length</th>
			<th>Total Playtime</th>
			<th>First Play</th>
			<th>Last Play</th>
			<th>Average Song Length</th>
			<th>Average Plays Per Song</th>
			<th>Days album was played</th>
			<th>Weeks album was played</th>
			<th>Months album was played</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="album, stat : ${artistInfo.albums}">
			<td th:text="${stat.index+1}"/>
			<td><a th:href="@{/album/{artist}/{album}(artist=${artist},album=${album.album})}" th:text="${album.album}"></td>
			<td th:text="${album.numberOfTracks}"/>
			<td th:text="${album.totalPlays}"/>
			<td th:text="${album.albumLengthString}" th:data-value="${album.albumLength}"/>
			<td th:text="${album.totalPlaytimeString}" th:data-value="${album.totalPlaytime}"/>
			<td th:text="${album.firstPlay}"/>
			<td th:text="${album.lastPlay}"/>
			<td th:text="${album.averageSongLengthString}" th:data-value="${album.averageSongLength}"/>
			<td th:text="${album.averagePlaysPerSong}"/>
			<td th:text="${album.daysAlbumWasPlayed}"/>
			<td th:text="${album.weeksAlbumWasPlayed}"/>
			<td th:text="${album.monthsAlbumWasPlayed}"/>
		</tr>
	</tbody>
</table>

<br/>
<br/>
<table id="artistTable" class="sortable-theme-finder" data-sortable>
	<thead>
		<tr>
			<th>Position</th>
			<th>Song</th>
			<th>Album</th>
			<th>Total Plays</th>
			<th>Track Length</th>
			<th>Total Playtime</th>
			<th>First Play</th>
			<th>Last Play</th>
			<th>Days song was played</th>
			<th>Weeks song was played</th>
			<th>Months song was played</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="song, stat : ${artistInfo.songs}">
			<td th:text="${stat.index+1}"/>
			<td><a th:href="@{/song/{artist}/{album}/{song}(artist=${artist},album=${song.album},song=${song.song})}" th:text="${song.song}"></td>
			<td><a th:href="@{/album/{artist}/{album}(artist=${artist},album=${song.album})}" th:text="${song.album}"></td>
			<td th:text="${song.totalPlays}"/>
			<td th:text="${song.trackLengthString}" th:data-value="${song.trackLength}"/>
			<td th:text="${song.totalPlaytimeString}" th:data-value="${song.totalPlaytime}"/>
			<td th:text="${song.firstPlay}"/>
			<td th:text="${song.lastPlay}"/>
			<td th:text="${song.daysSongWasPlayed}"/>
			<td th:text="${song.weeksSongWasPlayed}"/>
			<td th:text="${song.monthsSongWasPlayed}"/>
		</tr>
	</tbody>
</table>


</body>

</html>