<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${artist}"/>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js'></script>
	<script src='../js/utils.js'></script>
	<script src="../js/sortable.min.js"></script>
	<link rel="stylesheet" href="../css/sortable-theme-finder.css"/>
	<script type="text/javascript">
		window.onload = function(){
			Sortable.init();
		}
	</script>
</head>
<body>

Number Of Songs: <span th:text="${artistInfo.numberOfSongs}"/> <br/>
Total Plays: <span th:text="${artistInfo.totalPlays}"/><br/>
Total Playtime: <span th:text="${artistInfo.totalPlaytime}"/><br/>
First Song Played: <span th:text="${artistInfo.firstSongPlayed}"/><br/>
Last Song Played: <span th:text="${artistInfo.lastSongPlayed}"/><br/>
Average Song Length: <span th:text="${artistInfo.averageSongLength}"/><br/>
Average Plays Per Song: <span th:text="${#numbers.formatDecimal(artistInfo.averagePlaysPerSong, 1, 'DEFAULT', 2, 'DEFAULT')}"/><br/>
Days artist was played: <span th:text="${artistInfo.daysArtistWasPlayed}"/><br/>
Weeks artist was played: <span th:text="${artistInfo.weeksArtistWasPlayed}"/><br/>
Months artist was played: <span th:text="${artistInfo.monthsArtistWasPlayed}"/><br/>

<table id="artistTable" class="sortable-theme-finder" data-sortable>
	<thead>
		<tr>
			<th>Position</th>
			<th>Album</th>
			<th>Release Year</th>
			<th>Number of Tracks in Library</th>
			<th>Total Plays</th>
			<th>Album Length</th>
			<th>Total Playtime</th>
			<th>First Play</th>
			<th>Last Play</th>
			<th>Average Song Length</th>
			<th>Average Plays Per Song</th>
			<th>Days album was played</th>
			<th>Weeks album was played</th>
			<th>Months album was played</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="album, stat : ${artistInfo.albums}">
			<td th:text="${stat.index+1}"/>
			<td><a th:href="@{/album?artist={artist}&album={album}(artist=${artist},album=${album.album})}" th:text="${album.album}"></td>
			<td><a th:href="@{/category/{category}/{value}(value=${album.releaseYear},category=${'Year'})}" th:text="${album.releaseYear}"/></td>
			<td th:text="${album.numberOfTracks}"/>
			<td th:text="${album.totalPlays}"/>
			<td th:text="${album.albumLengthString}" th:data-value="${album.albumLength}"/>
			<td th:text="${album.totalPlaytimeString}" th:data-value="${album.totalPlaytime}"/>
			<td th:text="${album.firstPlay}"/>
			<td th:text="${album.lastPlay}"/>
			<td th:text="${album.averageSongLengthString}" th:data-value="${album.averageSongLength}"/>
			<td th:text="${#numbers.formatDecimal(album.averagePlaysPerSong, 1, 'DEFAULT', 2, 'DEFAULT')}"/>
			<td th:text="${album.daysAlbumWasPlayed}"/>
			<td th:text="${album.weeksAlbumWasPlayed}"/>
			<td th:text="${album.monthsAlbumWasPlayed}"/>
		</tr>
	</tbody>
</table>

<br/>
<br/>
<table id="artistTable" class="sortable-theme-finder" data-sortable>
	<thead>
		<tr>
			<th>Position</th>
			<th>Song</th>
			<th>Album</th>
			<th>Release Year</th>
			<th>Total Plays</th>
			<th>Track Length</th>
			<th>Total Playtime</th>
			<th>First Play</th>
			<th>Last Play</th>
			<th>Days song was played</th>
			<th>Weeks song was played</th>
			<th>Months song was played</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="song, stat : ${artistInfo.songs}">
			<td th:text="${stat.index+1}"/>
			<td><a th:href="@{/song?artist={artist}&album={album}&song={song}(artist=${artist},album=${song.album},song=${song.song})}" th:text="${song.song}"></td>
			<td><a th:href="@{/album?artist={artist}&album={album}(artist=${artist},album=${song.album})}" th:text="${song.album}"></td>
			<td><a th:href="@{/category/{category}/{value}(value=${song.releaseYear},category=${'Year'})}" th:text="${song.releaseYear}"/></td>
			<td th:text="${song.totalPlays}"/>
			<td th:text="${song.trackLengthString}" th:data-value="${song.trackLength}"/>
			<td th:text="${song.totalPlaytimeString}" th:data-value="${song.totalPlaytime}"/>
			<td th:text="${song.firstPlay}"/>
			<td th:text="${song.lastPlay}"/>
			<td th:text="${song.daysSongWasPlayed}"/>
			<td th:text="${song.weeksSongWasPlayed}"/>
			<td th:text="${song.monthsSongWasPlayed}"/>
		</tr>
	</tbody>
</table>

<div th:each="artistGroup, count : ${artistGroupList}">
		<div style='display:none;'>
			<table th:id="${artistGroup.criteria}">
				<tr>
					<th th:text="${artistGroup.criteria}" />
					<th th:text="${'Number of songs'}" />
					<th th:text="${'Number of songs male'}" />
					<th th:text="${'Percentage of songs'}" />
					<th th:text="${'Percentage of songs male'}" />
					<th th:text="${'Plays'}" />
					<th th:text="${'Plays male'}" />
					<th th:text="${'Percentage of Plays'}" />
					<th th:text="${'Percentage of Plays male'}" />
					<th>Playtime</th>
					<th>Playtime male</th>
					<th>Playtime %</th>
					<th>Playtime % male</th>
				</tr>
				<tr th:each="listCount : ${artistGroup.listCounts}">
					<td th:text="${listCount.element}" />
					<td th:text="${listCount.count}" />
					<td th:text="${listCount.countMale}" />
					<td
						th:text="${#numbers.formatDecimal(listCount.percentageCount, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}" />
					<td
						th:text="${#numbers.formatDecimal(listCount.percentageCountMale, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}" />
					<td th:text="${listCount.plays}" />
					<td th:text="${listCount.playsMale}" />
					<td
						th:text="${#numbers.formatDecimal(listCount.percentagePlays, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}" />
					<td
						th:text="${#numbers.formatDecimal(listCount.percentagePlaysMale, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}" />
					<td th:text="${listCount.playtimeString}" />
					<td th:text="${listCount.playtimeStringMale}" />
					<td
						th:text="${#numbers.formatDecimal(listCount.percentagePlaytime, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}" />
					<td
						th:text="${#numbers.formatDecimal(listCount.percentagePlaytimeMale, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}" />
				</tr>
			</table>
		</div>

		<div style="height:500px;">
			<canvas th:id="${'plays'+count.index}"></canvas>

			<script th:inline="javascript" th:if="${!#strings.contains(artistGroup.criteria,'Play')}">
				//Sex, Genre, Race, Language, Release Year
				/*<![CDATA[*/
				var ctx = document.getElementById(/*[[${'plays'+count.index}]]*/'').getContext('2d');

				var table = document.getElementById(/*[[${artistGroup.criteria}]]*/'');

				var labelsArray = [];
				var percentagesSongs = [];
				var percentagesPlays = [];
				var percentagesPlaytime = [];
				for (let row of table.rows) {
					if (row.rowIndex > 0) {
						labelsArray.push(row.cells[0].innerHTML);
						percentagesSongs.push(row.cells[3].innerHTML.replace("%", ""));
						percentagesPlays.push(row.cells[7].innerHTML.replace("%", ""));
						percentagesPlaytime.push(row.cells[11].innerHTML.replace("%", ""));
					}
				}

				var myChart = new Chart(ctx, {
					type: 'bar',
					data: {
						labels: labelsArray,
						datasets: [
							{
								label: 'Percentage of songs',
								backgroundColor: 'rgba(55, 99, 132, 0.8)',
								data: percentagesSongs
							},
							{
								label: 'Percentage of plays',
								backgroundColor: 'rgba(255, 99, 132, 0.8)',
								data: percentagesPlays
							},
							{
								label: 'Percentage of playtime',
								backgroundColor: 'rgba(152, 255, 152, 0.8)',
								data: percentagesPlaytime
							}
						]
					},
					options: {
						responsive: true,
						maintainAspectRatio: false,
						plugins: {
							tooltip: {
								callbacks: {
									label: function (context) {

										var category = /*[[${artist}]]*/'';  
										var totalSongs = /*[[${artistInfo.numberOfSongs}]]*/'';
										var totalPlays = /*[[${artistInfo.totalPlays}]]*/'';
										var totalPlaytime = /*[[${artistInfo.totalPlaytime}]]*/'';

										var table = document.getElementById(/*[[${artistGroup.criteria}]]*/'');

										var thisSongs = table.rows[context.dataIndex + 1].cells[1].innerHTML;
										var thisPlays = table.rows[context.dataIndex + 1].cells[5].innerHTML;
										var thisPlaytime = table.rows[context.dataIndex + 1].cells[9].innerHTML;

										var first = context.datasetIndex === 0 ? context.formattedValue + "% of all " + category + " songs were released in " + context.label :
											(context.datasetIndex === 1 ? context.formattedValue + "% of all " + category + " plays are from songs released in " + context.label :
												context.formattedValue + "% of all " + category + " playtime is from songs released in " + context.label);
										var second = context.datasetIndex === 0 ? "which is " + thisSongs + " songs out of " + totalSongs :
											(context.datasetIndex === 1 ? "which is " + thisPlays + " plays out of " + totalPlays :
												"which is " + thisPlaytime + " out of " + totalPlaytime);
										return [first, second];
									}
								}
							}
						}
					}

				});

				myChart.update();
                /*]]>*/
			</script>

			<script th:inline="javascript" th:if="${#strings.contains(artistGroup.criteria,'Play')}">
				//Play Year
				/*<![CDATA[*/
				var ctx = document.getElementById(/*[[${'plays'+count.index}]]*/'').getContext('2d');

				var table = document.getElementById(/*[[${artistGroup.criteria}]]*/'');

				var labelsArray = [];
				var percentagesPlays = [];
				var percentagesPlaytime = [];
				for (let row of table.rows) {
					if (row.rowIndex > 0) {
						labelsArray.push(row.cells[0].innerHTML);
						percentagesPlays.push(row.cells[7].innerHTML.replace("%", ""));
						percentagesPlaytime.push(row.cells[11].innerHTML.replace("%", ""));
					}
				}

				var myChart = new Chart(ctx, {
					type: 'bar',
					data: {
						labels: labelsArray,
						datasets: [
							{
								label: 'Percentage of plays',
								backgroundColor: 'rgba(255, 99, 132, 0.8)',
								data: percentagesPlays
							},
							{
								label: 'Percentage of playtime',
								backgroundColor: 'rgba(152, 255, 152, 0.8)',
								data: percentagesPlaytime
							}
						]
					},
					options: {
						responsive: true,
						maintainAspectRatio: false,
						plugins: {
							tooltip: {
								callbacks: {
									label: function (context) {
										var category = /*[[${artist}]]*/'';  
										var totalPlays = /*[[${artistInfo.totalPlays}]]*/'';
										var totalPlaytime = /*[[${artistInfo.totalPlaytime}]]*/'';

										var table = document.getElementById(/*[[${artistGroup.criteria}]]*/'');

										var thisPlays = table.rows[context.dataIndex + 1].cells[5].innerHTML;
										var thisPlaytime = table.rows[context.dataIndex + 1].cells[9].innerHTML;

										var first = context.datasetIndex === 0 ? context.formattedValue + "% of all " + category + " plays happened in " + context.label :
											context.formattedValue + "% of all " + category + " playtime happened in " + context.label;
										var second = context.datasetIndex === 0 ? "which is " + thisPlays + " plays out of " + totalPlays :
											"which is " + thisPlaytime + " out of " + totalPlaytime;
										return [first, second];
									}
								}
							}
						}
					}

				});

				myChart.update();
                /*]]>*/
			</script>
		</div>
	</div>

</body>

</html>