<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Stats</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/global.css" />
		<script type="text/javascript">
			function goToCategory(){
				var url="category/100";
				if(document.getElementById("sex").value != '' ){url += "/Sex/"+document.getElementById("sex").value}
				if(document.getElementById("genre").value != ''){url += "/Genre/"+document.getElementById("genre").value}
				if(document.getElementById("race").value != ''){url += "/Race/"+document.getElementById("race").value}
				if(document.getElementById("language").value != ''){url += "/Language/"+document.getElementById("language").value}
				if(document.getElementById("releaseYearStart").value != ''){url += "/YearStart/"+document.getElementById("releaseYearStart").value}
				if(document.getElementById("releaseYearEnd").value != ''){url += "/YearEnd/"+document.getElementById("releaseYearEnd").value}
				if(document.getElementById("playYear").value != ''){url += "/PlayYear/"+document.getElementById("playYear").value}
				if(document.getElementById("account").value != ''){url += "/Account/"+document.getElementById("account").value}
				window.open(url);
			}
		</script>
	</head>
	<body>
	  Sex: <select id="sex">
			    <option value="">Select...</option>
			    <option th:each="sex : ${sexes}" th:value="${sex}" th:text="${sex}"></option>
			 </select><br/>
	  Genre: <select id="genre">
			    <option value="">Select...</option>
			    <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}"></option>
			 </select><br/>
	  Race: <select id="race">
			    <option value="">Select...</option>
			    <option th:each="race : ${races}" th:value="${race}" th:text="${race}"></option>
			 </select><br/>
	  Language: <select id="language">
			    <option value="">Select...</option>
			    <option th:each="language : ${languages}" th:value="${language}" th:text="${language}"></option>
			 </select><br/>
	  Release Year Start: <input type="text" id="releaseYearStart" value="0"/>Release Year End: <input type="text" id="releaseYearEnd" value="10000"/><br/>
	  Play Year: <input type="text" id="playYear"/><br/>
	  Account: 	  <select id="account">
	  			    <option value="">Select...</option>
	  			    <option th:each="account : ${accounts}" th:value="${account}" th:text="${account}"></option>
	  			 </select><br/>
	  <input type="button" id="goToCategory" onclick="goToCategory()" value="Search"/>
	</body>
</html>