<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Stats</title>
		<script	src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js'></script>
		<script type="text/javascript">
			function goToCategory(){
				
				var url="category/100";
				
				if(document.getElementById("sex").value != '' ){url += "/Sex/"+document.getElementById("sex").value}
				if(document.getElementById("genre").value != ''){url += "/Genre/"+document.getElementById("genre").value}
				if(document.getElementById("race").value != ''){url += "/Race/"+document.getElementById("race").value}
				if(document.getElementById("language").value != ''){url += "/Language/"+document.getElementById("language").value}
				if(document.getElementById("releaseYear").value != ''){url += "/Year/"+document.getElementById("releaseYear").value}
				
				window.open(url);
			}
		</script>
	
	</head>
	<body>
	  Sex: <select id="sex">
			    <option value="">Select...</option>
			    <option th:each="sex : ${sexes}" th:value="${sex}" th:text="${sex}"></option>
			 </select><br/>
	  Genre: <select id="genre">
			    <option value="">Select...</option>
			    <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}"></option>
			 </select><br/>
	  Race: <select id="race">
			    <option value="">Select...</option>
			    <option th:each="race : ${races}" th:value="${race}" th:text="${race}"></option>
			 </select><br/>
	  Language: <select id="language">
			    <option value="">Select...</option>
			    <option th:each="language : ${languages}" th:value="${language}" th:text="${language}"></option>
			 </select><br/>
	  Release Year: <input type="text" id="releaseYear"/><br/>
	  
	  <input type="button" id="goToCategory" onclick="goToCategory()" value="Search"/>
	
	</body>
</html>