<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Stats</title>
	<script	src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js'></script>
	<script src="js/sortable.min.js"></script>
	<link rel="stylesheet" href="css/sortable-theme-finder.css"/>
</head>
<body>

	Songs not in library anymore: <span th:text="${deletedSongs.size}">.</span> <br/>
	
	<div id="groupsTable">
	<table th:each="deletedSongsGroup : ${deletedSongsGroupList}" >
		<tr>
			<th th:text="${deletedSongsGroup.criteria}"/>
			<th>Number of Songs</th>
			<th>Percentage of Songs</th>
		</tr>
		<tr th:each="listCount : ${deletedSongsGroup.listCounts}">
			<td th:text="${listCount.element}"/>
			<td th:text="${listCount.count}"/>
			<td th:text="${#numbers.formatDecimal(listCount.percentageCount, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}"/>
		</tr>
	</table>
</div>
	<br />
	
	<table class="sortable-theme-finder" data-sortable>
	<thead>
		<tr>
			<th>Artist</th>
			<th>Song</th>
			<th>Album</th>
			<th>Plays</th>
			<th>Length</th>
			<th>Genre</th>
			<th>Race</th>
			<th>Sex</th>
			<th>Language</th>
			<th>Year</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="song : ${deletedSongs}">
			
				<td><a th:href="@{/artist?artist={artist}(artist=${song.artist})}" th:text="${song.artist}">
								</td>
				<td><a th:href="@{/song?artist={artist}&album={album}&song={song}(artist=${song.artist},album=${song.album},song=${song.song})}"
										th:text="${song.song}"></td>
				<td><a th:href="@{/album?artist={artist}&album={album}(artist=${song.artist},album=${song.album})}"
										th:text="${song.album}"></td>
				<td th:text="${song.plays}"/>
				<td th:text="${song.durationString}"/>
				<td><a th:href="@{/category/100/{category}/{value}(value=${song.genre},category=${'Genre'})}"
										th:text="${song.genre}" /></td>
				<td><a th:href="@{/category/100/{category}/{value}(value=${song.race},category=${'Race'})}"
										th:text="${song.race}" /></td>
				<td><a th:href="@{/category/100/{category}/{value}(value=${song.sex},category=${'Sex'})}"
										th:text="${song.sex}" /></td>
				<td><a th:href="@{/category/100/{category}/{value}(value=${song.language},category=${'Language'})}"
										th:text="${song.language}" /></td>
				<td><a th:href="@{/category/100/{category}/{value}(value=${song.year},category=${'Year'})}"
										th:text="${song.year}" /></td>
			
		</tr>
	</tbody>
	</table>

</body>

</html>