<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Stats</title>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js'></script>
	<script src='js/utils.js'></script>
	<link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script type="text/javascript">
		window.onload = function(){
			flatpickr("#dateStart", dateConfig);
			flatpickr("#dateEnd", dateConfig);
		}
	</script>
	
	
</head>
  <body>
  	<a href="/insertItunesInfo">Load Itunes (Do first)</a><br/>
  	<a href="/insertScrobbles">Load Scrobbles (Do second)</a><br/>
  	<a href="/topArtists">Top Artists</a><br/>
  	<a href="/topAlbums">Top Albums</a><br/>
  	<a href="/topSongs">Top Songs</a><br/>
  	<a href="/whatWonEachDay">What won each day</a><br/>
  	<a href="/songsLastFmButNotItunes">Songs on lastfm but not itunes</a><br/>
  	<a href="/songsItunesButNotLastfm">Songs on itunes but not lastfm</a><br/>
  	
  	<form th:action="@{/}">
		Start date <input type="text" th:name="start" id="dateStart"/>
		End date <input type="text" th:name="end" id="dateEnd"/> 
		<input type="submit"/> 
	</form>
  
	Total Songs: <span th:text="${totalSongs}">Total Songs</span> <br/>
	Total Plays: <span th:text="${totalPlays}">Total Plays</span> <br/>
	Total Playtime: <span th:text="${totalPlayTimeGlobalString}">Total Playtime</span> <br/>
	
	
	<div th:each="dataForGraphsList : ${dataMap}">
		<div th:each="dataForGraphs : ${dataForGraphsList.value}" style='display: inline-block; width: 400px; height: 400px;'>
			<canvas th:id="${'myChart'+dataForGraphsList.key+dataForGraphs.metric}" width='400px'
				height='400px'></canvas>
		
		<script th:inline="javascript">
		/*<![CDATA[*/
                var ctx = document.getElementById(/*[[${'myChart'+dataForGraphsList.key+dataForGraphs.metric}]]*/'').getContext('2d');
		
                var myChart/*[(${dataForGraphsList.key+dataForGraphs.metric})]*/ 
                = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [ /*[(${dataForGraphs.labels})]*/ ],
                        datasets: [{
                            label: 'Male',
							data: [ /*[(${dataForGraphs.dataMale})]*/ ],
                            backgroundColor: 'rgba(55, 99, 132, 0.8)',
                            borderWidth: 1
                        },{
                            label: 'Others',
                            data: [ /*[(${dataForGraphs.dataOthers})]*/ ],
                            backgroundColor: 'rgba(255, 99, 132, 0.8)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                       scales: {
		                		x: {
		                			stacked: true
		                		},
		                		y: {
		                			stacked: true
		                		}
	                		},
                    	plugins:{
							title: {
		                       display: true,
		                       text: /*[[${dataForGraphs.metric +'by' +dataForGraphsList.key}]]*/'' 
	                    	},
							tooltip: {
	                            callbacks: {
	                                label: function(context) {
	                               		var totalCount =0;
	                                    var thisDatasetCount = 0;
	                                    var myChart = myChart/*[(${dataForGraphsList.key+dataForGraphs.metric})]*/;
	                       				for(var i=0; i<myChart.data.datasets.length; i++){
	                						for(var j=0; j<myChart.data.datasets[i].data.length; j++){
	                							totalCount+= myChart.data.datasets[i].data[j];
	                                            if(context.dataIndex == j){
	                       							thisDatasetCount += myChart.data.datasets[i].data[j];
	                							}//if
	                						}//for
	                					}//for
	                                    var label = context.dataset.label || '';
	 	                             	var percentageInTotal = context.raw/totalCount * 100;
			                            var percentageInTotalString = percentageInTotal.toFixed(3);
			                            var percentageOfBarInTotal = thisDatasetCount/totalCount * 100;
			                            var percentageOfBarInTotalString = percentageOfBarInTotal.toFixed(3);
			                            var percentageInDataset = context.raw/thisDatasetCount * 100;
			                       	    var percentageInDatasetString = percentageInDataset.toFixed(3);
			                       	    
			                       	  	var metric = /*[[${dataForGraphs.metric}]]*/'';
			                       	  	var metricToDisplay = metric.includes("Playtime")?"Playtime":(metric.includes("Songs")?"Songs":"Plays");
			                       	  	
			                       	  	 return metric.includes("Playtime") ? 
			                       	  			 [context.label+" "+metricToDisplay+": "+secondsToString(thisDatasetCount),
			                       	  			 	context.label+" "+metricToDisplay+" that is "+label+": " + secondsToString(context.raw),
			                       	  			 	'Percentage of '+context.label+': '+percentageOfBarInTotalString+'%',
			                       	  			 	'Percentage of '+context.label+' that is '+label+': '+percentageInDatasetString+'%']:
			                       	  			 [context.label+" "+metricToDisplay+": "+thisDatasetCount,
			                       	  			 	context.label+" "+metricToDisplay+" that are "+label +": "+ context.raw, 
			                       	  			 	"Percentage of "+context.label+" in total: "+percentageOfBarInTotalString+'%',
			                       	  			 	"Percentage of "+context.label+" that is "+label+": "+percentageInDatasetString+'%'];
	                                }//label
	                            }//callbacks
                        	}//tooltips
						}//plugins
                    }
                });
                
                if(/*[[${dataForGraphs.metric}]]*/'' 
                	==="Playtime"){
					myChart/*[(${dataForGraphsList.key+dataForGraphs.metric})]*/
					.options.scales.y.ticks.callback = function(value, index, ticks) {
					                        return secondsToDays(value)+' days';
					                    };
					myChart/*[(${dataForGraphsList.key+dataForGraphs.metric})]*/
					.update();                    
				}
                /*]]>*/
                </script>
                </div>

	</div>
	
</body>

</html>