<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Stats</title>
	<script	src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js'></script>
	<script src="js/sortable.min.js"></script>
	<link rel="stylesheet" href="css/sortable-theme-finder.css"/>
</head>
<body>


	Songs locally but not in lastfm: <span th:text="${listSongs.size()}">.</span> <br/>
	<table class="sortable-theme-finder" data-sortable>
		<thead>
			<tr>
				<th>Artist</th>
				<th>Album</th>
				<th>Song</th>
				<th>Source</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="song : ${listSongs}">
				<td th:text="${song.artist}"/>
				<td th:text="${song.album}"/>
				<td th:text="${song.song}"/>
				<td th:text="${song.source}"/>
			</tr>
		</tbody>
	</table>

</body>

</html>