<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Stats</title>
	<script	src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js'></script>
	<script src="js/sortable.min.js"></script>
	<link rel="stylesheet" href="css/sortable-theme-finder.css"/>
	<script type="text/javascript">
		function goToCategory(){
			
			var url="/songsLastFmButNotLocal/";
				
			if(document.getElementById("account").value != ''){url += document.getElementById("account").value}
			
			window.location = url;
		}
	</script>
</head>
<body>
	Account: 	  <select id="account" onchange="goToCategory()">
		  			    <option value="">Select...</option>
		  			    <option th:each="account : ${accounts}" th:value="${account}" th:text="${account}"></option>
		  			 </select><br/>
	Songs in lastfm but not locally: <span th:text="${listSongs.size()}">.</span> <br/>
	<table class="sortable-theme-finder" data-sortable>
	<thead>
		<tr>
			<th>Artist</th>
			<th>Song</th>
			<th>Album</th>
			<th>Account</th>
			<th>Plays</th>
			<th data-sortable="false">Insert Song</th>
			<th data-sortable="false">Insert Album</th>
			<th data-sortable="false">Insert Artist</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="song : ${listSongs}">
			
				<td th:text="${song.artist}"/>
				<td th:text="${song.song}"/>
				<td th:text="${song.album}"/>
				<td th:text="${song.account}"/>
				<td th:text="${song.count}"/>
				<td>
					<a th:href="@{'/insertSongForm/'+${#uris.escapePathSegment(#strings.replace(song.artist,'/','*'))}+'/'+${#uris.escapePathSegment(#strings.replace(song.song,'/','*'))}+'/'+${#uris.escapePathSegment(#strings.replace(song.album,'/','*'))}}">Insert Song</a>
				</td>
				<td>
					<a th:href="@{'/insertAlbumForm/'+${song.artist}+'/'+${#uris.escapePathSegment(#strings.replace(song.album,'/','*'))}}">Insert Album</a>
				</td>
				<td>
					<a th:href="@{'/insertAlbumForm/'+${song.artist}}">Insert Artist</a>
				</td>
			
		</tr>
	</tbody>
	</table>

</body>

</html>