<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Stats</title>
<script
	src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js'></script>
</head>
  <body>

Songs in lastfm but not in itunes: <span th:text="${listSongs.size}">.</span> <br/>
<table>
	<tr><th>Artist</th><th>Song</th><th>Album</th><th>Plays</th><th>Insert</th></tr>
	<tr th:each="song : ${listSongs}">
		
			<td th:text="${song.artist}"/>
			<td th:text="${song.song}"/>
			<td th:text="${song.album}"/>
			<td th:text="${song.count}"/>
			<td>
				<a th:href="@{'/insertSongForm/'+${song.artist}+'/'+${song.song}+'/'+${song.album}}">Insert</a>
			</td>
		
	</tr>
</table>

</body>

</html>