<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${unitValue}"></title>
	<link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
	<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="../../../js/sortable.min.js"></script>
	<link rel="stylesheet" href="../../../css/sortable-theme-finder.css"/>
	<script type="text/javascript">
		window.onload = function(){
			Sortable.init();
		}
	</script>
</head>
<body>
Total Plays: <span th:text="${timeUnitDetail.totalPlays}"/><br/>
Total Playtime: <span th:text="${timeUnitDetail.totalPlaytimeString}"/><br/>
Most Played Artist: <span th:text="${timeUnitDetail.mostPlayedArtist}"/><br/>
Most Played Album: <span th:text="${timeUnitDetail.mostPlayedAlbum}"/><br/>
Most Played Song: <span th:text="${timeUnitDetail.mostPlayedSong}"/><br/>
Unique Artists Played: <span th:text="${timeUnitDetail.uniqueArtistsPlayed}"/><br/>
Unique Albums Played: <span th:text="${timeUnitDetail.uniqueAlbumsPlayed}"/><br/>
Unique Songs Played: <span th:text="${timeUnitDetail.uniqueSongsPlayed}"/><br/>
Percentage of unit where music was played: <span th:text="${#numbers.formatDecimal(timeUnitDetail.percentageofUnitWhereMusicWasPlayed, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}"/><br/>

<div th:each="timeUnitGroup, count : ${timeUnitGroupList}">
<div>    
<table th:id="${timeUnitGroup.criteria}">
	<tr>
		<th th:text="${timeUnitGroup.criteria}"/>
		<th th:text="${'Number of songs'}"/>
		<th th:text="${'Percentage of songs'}"/>
		<th>Number of Plays</th>
		<th>Percentage of Plays</th>
		<th>Playtime</th>
		<th>Playtime %</th>
	</tr>
	<tr th:each="listCount : ${timeUnitGroup.listCounts}">
		<td th:text="${listCount.element}"/>
		<td th:text="${listCount.count}"/>
		<td th:text="${#numbers.formatDecimal(listCount.percentageCount, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}"/>
		<td th:text="${listCount.plays}"/>
		<td th:text="${#numbers.formatDecimal(listCount.percentagePlays, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}"/>
		<td th:text="${listCount.playtimeString}"/>
		<td th:text="${#numbers.formatDecimal(listCount.percentagePlaytime, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}"/>		
	</tr>
</table></div>

<div style="height:500px;">
<canvas th:id="${'plays'+count.index}"></canvas>
		
		<script th:inline="javascript" th:if="${#strings.contains(timeUnitGroup.criteria,'Sex') or #strings.contains(timeUnitGroup.criteria,'Language')}">
		//Sex and Language
		/*<![CDATA[*/
		function htmlDecode(input){
		  var e = document.createElement('textarea');
		  e.innerHTML = input;
		  return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
		}
		
                var ctx = document.getElementById(/*[[${'plays'+count.index}]]*/'').getContext('2d');
                
                var table = document.getElementById(/*[[${timeUnitGroup.criteria}]]*/'');
                var labelsArray=[];
                var percentagesSongs=[];
                var percentagesPlays=[]; 
                var percentagesPlaytime=[];   
                for (let row of table.rows) {
					if(row === table.rows[0]){continue;}
					labelsArray.push(row.cells[0].innerHTML);
		        	percentagesSongs.push(row.cells[2].innerHTML.replace("%",""));
		        	percentagesPlays.push(row.cells[4].innerHTML.replace("%",""));
		        	percentagesPlaytime.push(row.cells[6].innerHTML.replace("%",""));
				}
                
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
					  labels: labelsArray,
					  datasets: [
					    {
						  label: "Percentage of songs",
					      backgroundColor: ['rgba(55, 99, 132, 0.8)','rgba(255, 99, 132, 0.8)' , 'rgba(152, 255, 152, 0.8)','rgba(255, 252, 127, 0.8)'],
					      data: percentagesSongs
					    },
					    {
						  label: "Percentage of plays",
					      backgroundColor: ['rgba(55, 99, 132, 0.8)', 'rgba(255, 99, 132, 0.8)', 'rgba(152, 255, 152, 0.8)','rgba(255, 252, 127, 0.8)'],
					      data: percentagesPlays
					    },
					    {
						  label: "Percentage of playtime",
					      backgroundColor: ['rgba(55, 99, 132, 0.8)', 'rgba(255, 99, 132, 0.8)', 'rgba(152, 255, 152, 0.8)','rgba(255, 252, 127, 0.8)'],
					      data: percentagesPlaytime
					    }
					  ]
					},
                    options:{
						responsive:true,
						maintainAspectRatio: false,
						plugins: {
					      tooltip: {
					        callbacks: {
					          label: function(context) {
								  
								  var metric = "";
								  
								  switch(context.datasetIndex){
									  case 0: metric = "Percentage of songs"; break;
									  case 1: metric = "Percentage of plays"; break;
									  case 2: metric = "Percentage of playtime"; break;
									  default: metric = ""; break;
								  }
					            return context.label + ': ' + context.formattedValue+': '+metric;
					          }
					        }
					      }
					    }
					}
					
                });

				myChart.update(); 
                /*]]>*/
                </script>
                
                
                <script th:inline="javascript" th:if="${#strings.contains(timeUnitGroup.criteria,'Release') or #strings.contains(timeUnitGroup.criteria,'Genre')}">
                //Release Year and Genre
				/*<![CDATA[*/
                var ctx = document.getElementById(/*[[${'plays'+count.index}]]*/'').getContext('2d');
                
                var table = document.getElementById(/*[[${timeUnitGroup.criteria}]]*/'');
                var criteria = /*[[${timeUnitGroup.criteria}]]*/'';
                                
                var labelsArray=[];
                var percentagesSongs=[];
                var percentagesPlays=[]; 
                var percentagesPlaytime=[];   
                for (let row of table.rows) {
					if(row.rowIndex > 0){
						labelsArray.push(htmlDecode(row.cells[0].innerHTML));
			        	percentagesSongs.push(row.cells[2].innerHTML.replace("%",""));
			        	percentagesPlays.push(row.cells[4].innerHTML.replace("%",""));
			        	percentagesPlaytime.push(row.cells[6].innerHTML.replace("%",""));
		        	}
				}
                
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
					  labels: labelsArray,
					  datasets: [
					    {
					      label: 'Percentage of songs',
					      backgroundColor: 'rgba(55, 99, 132, 0.8)',
					      data: percentagesSongs
					    },
					    {
					      label: 'Percentage of plays',
					      backgroundColor: 'rgba(255, 99, 132, 0.8)',
					      data: percentagesPlays
					    },
					    {
					      label: 'Percentage of playtime',
					      backgroundColor: 'rgba(152, 255, 152, 0.8)',
					      data: percentagesPlaytime
					    }
					  ]
					},
                    options:{
						responsive:true,
						maintainAspectRatio: false,
						plugins: {
					      tooltip: {
					        callbacks: {
					          label: function(context) {
								  
								var unit = /*[[${unitValue}]]*/''; 
								var totalSongs = /*[[${timeUnitDetail.uniqueSongsPlayed}]]*/'';
								var totalPlays = /*[[${timeUnitDetail.totalPlays}]]*/'';
								var totalPlaytime = /*[[${timeUnitDetail.totalPlaytimeString}]]*/'';
								var criteria = /*[[${timeUnitGroup.criteria}]]*/'';
								
								var table = document.getElementById(/*[[${timeUnitGroup.criteria}]]*/'');
							
								var thisSongs = table.rows[context.dataIndex+1].cells[1].innerHTML;
								var thisPlays = table.rows[context.dataIndex+1].cells[3].innerHTML;
								var thisPlaytime = table.rows[context.dataIndex+1].cells[5].innerHTML;
								
								var first = context.datasetIndex === 0 ? context.formattedValue+"% of all "+unit+" songs were released in "+context.label:
											(context.datasetIndex === 1? context.formattedValue+"% of all "+unit+" plays are from songs released in "+context.label:
											context.formattedValue+"% of all "+unit+" playtime is from songs released in "+context.label);
								var second = context.datasetIndex === 0 ? "which is "+thisSongs+" songs out of "+totalSongs:
											(context.datasetIndex === 1? "which is "+thisPlays+" plays out of "+totalPlays:
											"which is "+thisPlaytime+" out of "+totalPlaytime);
					            return [first,second];
					          }
					        }
					      }
					    }
					}
					
                });

				myChart.update(); 
                /*]]>*/
                </script>
                
	</div>
</div>
<br/>

<table id="albumSongsTable" class="sortable-theme-finder" data-sortable>
	<thead>
		<tr>
			<th>Position</th>
			<th>Artist</th>
			<th>Album</th>
			<th>Song</th>
			<th>Genre</th>
			<th>Year</th>
			<th>Total Plays</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="song, stat : ${timeUnitDetail.mostPlayedSongs}">
			<td th:text="${stat.index+1}"/>
			<td th:text="${song.artist}"/>
			<td th:text="${song.album}"/>
			<td><a th:href="@{/song?artist={artist}&album={album}&song={song}(artist=${song.artist},album=${song.album},song=${song.song})}" th:text="${song.song}"></td>
			<td th:text="${song.genre}"/>
			<td th:text="${song.year}"/>
			<td th:text="${song.totalPlays}"/>
		</tr>
	</tbody>
</table>

</body>

</html>