<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Top Albums</title>
	<script	src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js'></script>
	<script src='js/utils.js'></script>
	<script src="js/sortable.min.js"></script>
	<link rel="stylesheet" href="css/sortable-theme-finder.css"/>
	<script type="text/javascript">
		function filterTable(value){
			
			var table = document.getElementById("albumsTable");
			var inputs = document.getElementsByTagName("input");
			
			for (let row of table.rows) {
				if(row.rowIndex > 0){
	        		row.style.display = 'none';
				}
			}
			
			var genres = new Array();
			var sexes = new Array();
			var languages = new Array();
			var years = new Array();
			
			for(let input of inputs){
				if(input.type=='checkbox' && input.checked){
					switch(input.value.split(',')[1]){
					   case "Genre": 
						   genres.push(input.value.split(',')[0]);
						   break;
					   case "Sex": 
						   sexes.push(input.value.split(',')[0]);
						   break;
					   case "Language": 
						   languages.push(input.value.split(',')[0]);
						   break;
					   case "Year": 
						   years.push(input.value.split(',')[0]);
						   break;
				   	}
				}
			}
			var enabledCells = 0;		
			for (let row of table.rows) {
	        	var colGenre = htmlDecode(row.cells[5].innerHTML);
	        	var colSex = row.cells[6].innerHTML;
	        	var colLanguage = row.cells[7].innerHTML;
	        	var colYear = row.cells[8].innerHTML;
	        	if(row.rowIndex > 0 && (genres.length <= 0 || genres.includes(colGenre)) && 
	        			(sexes.length <= 0 || sexes.includes(colSex)) && 
	        			(languages<=0 || languages.includes(colLanguage)) && 
	        			(years <=0 || years.includes(colYear))){
	        		row.style.display = '';
	        		enabledCells++;
	        		row.cells[0].innerHTML = enabledCells;
	        		
	        	}
			}
			
			document.getElementById("numRecords").innerHTML = enabledCells;
			Sortable.init();
			
		}
		
		window.onload = function(){
			document.getElementById("numRecords").innerHTML = document.getElementById("albumsTable").rows.length-1;
			Sortable.init();
		}
	</script>
</head>
<body>

<form th:action="@{/topAlbums}">
Only the top <input type="text" th:name="limit"/> albums 
<input type="submit"/> 
</form>



<table th:each="topAlbumsGroup : ${topAlbumsGroupList}">
	<thead>
		<tr>
			<th th:text="${topAlbumsGroup.criteria}"/>
			<th>Number of Albums</th>
			<th>Percentage of Albums</th>
			<th>Number of Plays</th>
			<th>Percentage of Plays</th>
			<th>Playtime</th>
			<th>Playtime %</th>
		</tr>
	</thead>
	<tr th:each="listCount : ${topAlbumsGroup.listCounts}">
		<td><input type="checkbox" th:value="${listCount.element+','+topAlbumsGroup.criteria}" onclick="filterTable(this.value)"/></td>
		<td th:text="${listCount.element}"/>
		<td th:text="${listCount.count}"/>
		<td th:text="${#numbers.formatDecimal(listCount.percentageCount, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}"/>
		<td th:text="${listCount.plays}"/>
		<td th:text="${#numbers.formatDecimal(listCount.percentagePlays, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}"/>
		<td th:text="${listCount.playtimeString}"/>
		<td th:text="${#numbers.formatDecimal(listCount.percentagePlaytime, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}"/>
		
	</tr>
</table>


Number of records: <span id="numRecords"></span>
<table id="albumsTable" class="sortable-theme-finder" data-sortable>
	<thead>
		<tr>
			<th>Position</th>
			<th>Overall Position</th>
			<th>Artist</th>
			<th>Album</th>
			<th>Plays</th>
			<th>Genre</th>
			<th>Sex</th>
			<th>Language</th>
			<th>Year</th>
			<th>Playtime</th>
			<th>Average Song Length</th>
			<th>Average Plays Per Song</th>
			<th>Number of Songs</th>
			<th>Days Album Was Played</th>
			<th>Weeks Album Was Played</th>
			<th>Months Album Was Played</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="topAlbum, stat : ${topAlbums}">
			<td th:text="${stat.index+1}"/>
			<td th:text="${stat.index+1}"/>
			<td><a th:href="@{/artist/{artist}(artist=${topAlbum.artist})}" th:text="${topAlbum.artist}"></td>
			<td><a th:href="@{/album/{artist}/{album}(artist=${topAlbum.artist},album=${topAlbum.album})}" th:text="${topAlbum.album}"></td>
			<td th:text="${topAlbum.count}"/>
			<td><a th:href="@{/genre/{genre}(genre=${topAlbum.genre})}" th:text="${topAlbum.genre}"></td>
			<td th:text="${topAlbum.sex}"/>
			<td th:text="${topAlbum.language}"/>
			<td th:text="${topAlbum.year}"/>
			<td th:text="${topAlbum.playtimeString}" th:data-value="${topAlbum.playtime}"/>
			<td th:text="${topAlbum.averageLengthString}" th:data-value="${topAlbum.averageLength}"/>
			<td th:text="${topAlbum.averagePlays}"/>
			<td th:text="${topAlbum.numberOfSongs}"/>
			<td th:text="${topAlbum.scrobbleDays}"/>
			<td th:text="${topAlbum.scrobbleWeeks}"/>
			<td th:text="${topAlbum.scrobbleMonths}"/>
		</tr>
	</tbody>
</table>

</body>

</html>