<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Top Genres</title>
	<script	src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js'></script>
	<script src='js/utils.js'></script>
	<script src="js/sortable.min.js"></script>
	<link rel="stylesheet" href="css/sortable-theme-finder.css"/>
	<script type="text/javascript">
		window.onload = function(){
			document.getElementById("numRecords").innerHTML = document.getElementById("genresTable").rows.length-1;
			
			table = document.getElementById('genresTable');
			
			sortFunction = function(event){
				var enabledCells = 0;
				for (let row of table.rows) {
					if(row.rowIndex > 0 && row.style.display != 'none'){
						enabledCells++;
		        		row.cells[0].innerHTML = enabledCells;
	        		}
				}
			};
			
			table.addEventListener('Sortable.sorted', sortFunction);
			Sortable.init();
		}
	</script>
</head>
<body>

<form th:action="@{/topGenres}">
Only the top <input type="text" th:name="limit"/> genres 
<input type="submit"/> 
</form>



Number of records: <span id="numRecords"></span>
<table id="genresTable" class="sortable-theme-finder" data-sortable>
	<thead>
		<tr>
			<th>Position</th>
			<th>Overall Position</th>
			<th>Genre</th>
			<th>Plays</th>
			<th>Playtime</th>
			<th>Average Plays Per Song</th>
			<th>Average Song Length</th>
			<th>Number of Artists</th>
			<th>Number of Albums</th>
			<th>Number of Songs</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="topGenre, stat : ${topGenres}">
			<td th:text="${stat.index+1}"/>
			<td th:text="${stat.index+1}"/>
			<td><a th:href="@{/category?category={category}&value={value}(value=${topGenre.genre},category=${'genre'})}" th:text="${topGenre.genre}"></td>
			<td th:text="${topGenre.count}"/>
			<td th:text="${topGenre.playtimeString}" th:data-value="${topGenre.playtime}"/>
			<td th:text="${#numbers.formatDecimal(topGenre.averagePlays, 1, 'DEFAULT', 2, 'DEFAULT')}"/>
			<td th:text="${topGenre.averageLengthString}"/>
			<td th:text="${topGenre.numberOfArtists}"/>
			<td th:text="${topGenre.numberOfAlbums}"/>
			<td th:text="${topGenre.numberOfSongs}"/>
		</tr>
	</tbody>
</table>

</body>

</html>