<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Top Songs</title>
	<script	src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js'></script>
	<script src='js/utils.js'></script>
	<script src="js/sortable.min.js"></script>
	<link rel="stylesheet" href="css/sortable-theme-finder.css"/>
	<script type="text/javascript">
		function filterTable(value){
			
			var table = document.getElementById("songsTable");
			var inputs = document.getElementsByTagName("input");
			
			for (let row of table.rows) {
				if(row.rowIndex > 0){
	        		row.style.display = 'none';
				}
			}
			
			var genres = new Array();
			var sexes = new Array();
			var languages = new Array();
			var years = new Array();
			var races = new Array();
			
			for(let input of inputs){
				if(input.type=='checkbox' && input.checked){
					switch(input.value.split(',')[1]){
					   case "Genre": 
						   genres.push(input.value.split(',')[0]);
						   break;
					   case "Sex": 
						   sexes.push(input.value.split(',')[0]);
						   break;
					   case "Language": 
						   languages.push(input.value.split(',')[0]);
						   break;
					   case "Release Year": 
						   years.push(input.value.split(',')[0]);
						   break;
					   case "Race": 
						   races.push(input.value.split(',')[0]);
						   break;
				   	}
				}
			}
			var enabledCells = 0;
			for (let row of table.rows) {
	        	var colGenre = htmlDecode(row.cells[5].firstChild.innerHTML);
	        	var colSex = row.cells[6].innerHTML;
	        	var colLanguage = row.cells[7].innerHTML;
	        	var colYear = row.cells[8].firstChild.innerHTML;
	        	var colRace = row.cells[9].firstChild.innerHTML;
	        	if(row.rowIndex > 0 && (genres.length <= 0 || genres.includes(colGenre)) && 
	        			(sexes.length <= 0 || sexes.includes(colSex)) && 
	        			(languages.length <=0 || languages.includes(colLanguage)) && 
	        			(years.length <=0 || years.includes(colYear)) &&
	        			(races.length <=0 || races.includes(colRace))
	        			){
	        		row.style.display = '';
	        		enabledCells++;
	        		row.cells[0].innerHTML = enabledCells;
	        	}
			}
			document.getElementById("numRecords").innerHTML = enabledCells;
			Sortable.init();
			
		}
		
		window.onload = function(){
			document.getElementById("numRecords").innerHTML = document.getElementById("songsTable").rows.length-1;
			
			table = document.getElementById('songsTable');
			
			sortFunction = function(event){
				var enabledCells = 0;
				for (let row of table.rows) {
					if(row.rowIndex > 0 && row.style.display != 'none'){
						enabledCells++;
		        		row.cells[0].innerHTML = enabledCells;
	        		}
				}
			};
			
			table.addEventListener('Sortable.sorted', sortFunction);
			
			Sortable.init();
		}
	</script>
</head>
<body>

<form th:action="@{/topSongs}">
Only the top <input type="text" th:name="limit"/> songs 
<input type="submit"/> 
</form>

<table th:each="topSongsGroup : ${topSongsGroupList}">
	<tr>
		<th/>
		<th th:text="${topSongsGroup.criteria}"/>
		<th>Number of Songs</th>
		<th>Percentage of Songs</th>
		<th>Number of Plays</th>
		<th>Percentage of Plays</th>
		<th>Playtime</th>
		<th>Playtime %</th>
	</tr>
	<tr th:each="listCount : ${topSongsGroup.listCounts}">
		<td><input type="checkbox" th:value="${listCount.element+','+topSongsGroup.criteria}" onclick="filterTable(this.value)"/></td>
		<td th:text="${listCount.element}"/>
		<td th:text="${listCount.count}"/>
		<td th:text="${#numbers.formatDecimal(listCount.percentageCount, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}"/>
		<td th:text="${listCount.plays}"/>
		<td th:text="${#numbers.formatDecimal(listCount.percentagePlays, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}"/>
		<td th:text="${listCount.playtimeString}"/>
		<td th:text="${#numbers.formatDecimal(listCount.percentagePlaytime, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}"/>
		
	</tr>
</table>


Number of records: <span id="numRecords"></span>
<table id="songsTable" class="sortable-theme-finder" data-sortable>
	<thead>
		<tr>
			<th data-sortable="false">Position</th>
			<th>Overall Position</th>
			<th>Artist</th>
			<th>Song</th>
			<th>Album</th>
			<th data-sortable="false">Genre</th>
			<th data-sortable="false">Sex</th>
			<th data-sortable="false">Language</th>
			<th data-sortable="false">Year</th>
			<th data-sortable="false">Race</th>
			<th>Length</th>
			<th>Plays</th>
			<th>Playtime</th>
			<th>Days Song Was Played</th>
			<th>Weeks Song Was Played</th>
			<th>Months Song Was Played</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="topSong, stat : ${topSongs}">
			<td th:text="${stat.index+1}"/>
			<td th:text="${stat.index+1}"/>
			<td><a th:href="@{/artist?artist={artist}(artist=${topSong.artist})}" th:text="${topSong.artist}"></td>
			<td><a th:href="@{/song?artist={artist}&album={album}&song={song}(artist=${topSong.artist},album=${topSong.album},song=${topSong.song})}" th:text="${topSong.song}"></td>
			<td><a th:href="@{/album?artist={artist}&album={album}(artist=${topSong.artist},album=${topSong.album})}" th:text="${topSong.album}"></td>
			<td><a th:href="@{/category?category={category}&value={value}(value=${topSong.genre},category=${'genre'})}" th:text="${topSong.genre}"></td>
			<td><a th:href="@{/category?category={category}&value={value}(value=${topSong.sex},category=${'sex'})}" th:text="${topSong.sex}"></td>
			<td><a th:href="@{/category?category={category}&value={value}(value=${topSong.language},category=${'language'})}" th:text="${topSong.language}"></td>
			<td><a th:href="@{/timeUnitDetail/year/{year}(year=${topSong.year})}" th:text="${topSong.year}"/></td>
			<td><a th:href="@{/category?category={category}&value={value}(value=${topSong.race},category=${'race'})}" th:text="${topSong.race}"></td>
			<td th:text="${topSong.lengthString}" th:data-value="${topSong.length}"/>
			<td th:text="${topSong.count}"/>
			<td th:text="${topSong.playtimeString}" th:data-value="${topSong.playtime}"/>
			<td th:text="${topSong.playDays}"/>
			<td th:text="${topSong.playWeeks}"/>
			<td th:text="${topSong.playMonths}"/>
		</tr>
	</tbody>
</table>

</body>

</html>