<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>What Won Each Day</title>
<script	src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js'></script>
</head>
  <body>
  
  <form th:action="@{/whatWonEachDay}">
		Start date (yyyy-mm-dd)<input type="text" th:name="start"/>
		End date (yyyy-mm-dd)<input type="text" th:name="end"/> 
		<input type="submit"/> 
	</form>

<table th:each="whatWonGroup : ${whatWonGroupList}">
	<tr><th th:text="${whatWonGroup.criteria}"/><th>Number of Days</th><th>Percentage of Days</th></tr>
	<tr th:each="listCount : ${whatWonGroup.listCounts}">
		<td th:text="${listCount.element}"/>
		<td th:text="${listCount.count}"/>
		<td th:text="${#numbers.formatDecimal(listCount.percentage, 1, 'DEFAULT', 2, 'DEFAULT')+'%'}"/>
		
	</tr>
</table>

<table>
	<tr><th>Date</th><th>Genre Won</th><th>Genre Playtime</th><th>Genre Count</th><th>Sex Won</th><th>Sex Playtime</th><th>Sex Count</th></tr>
	<tr th:each="whatWonDay : ${whatWon}">
		<td th:text="${whatWonDay.dateGenre}"/>
		<td th:text="${whatWonDay.genre}"/>
		<td th:text="${whatWonDay.durationGenreText}"/>
		<td th:text="${whatWonDay.countGenre}"/>
		<td th:text="${whatWonDay.sex}"/>
		<td th:text="${whatWonDay.durationSexText}"/>
		<td th:text="${whatWonDay.countSex}"/>
	</tr>
</table>

</body>

</html>